@using SocialNetwork.Models

@model LinkToProfileViewModel

<a href="/Users/Profile/?userId=@Model.UserId" style="margin: 1px">
    <div>
        <img style="object-fit: cover; border-radius: 50%; width : @(Model.ProfilePictureSize)px ; height: @(Model.ProfilePictureSize)px" src="@(Model.ProfilePicturePath)" alt="Alternate Text" /> <b>@Model.Username</b>
    </div>
</a>