<a class="col-8 btn btn-light" asp-controller="Home" asp-action="NewPost">
    <i style="font-size: 40px" class="fas fa-plus-square"></i>
</a>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
