@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using SocialNetwork.Services.ProfileManagement;
@using SocialNetwork.Controllers.ImageConvertingFunctionality;
@using SocialNetwork.DatabaseModels;

@inject SignInManager<SocialNetworkUser> SignInManager
@inject UserManager<SocialNetworkUser> UserManager
@inject IProfileManagementService ProfileManagementService
@inject ImageConverter ImageConverter;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        byte[] photo = ProfileManagementService
            .GetUserProfileLinkById(this.User.FindFirstValue(ClaimTypes.NameIdentifier)).Photo;
        string profileImageCode = string.Empty;
        if (photo != null)
        {
            profileImageCode = ImageConverter.ConvertByteArrayToString(photo);
        }
        else
        {
            profileImageCode = ImageConverter.ConvertByteArrayToString(System.IO.File.ReadAllBytes("wwwroot/pics/user_def_pic.png"));
        }
        <li class="nav-item">
            <div class="nav-link btn btn-light text-black-50" style="margin:20px ; width : 180px; height:100px">
                <partial name="_LinkToProfile" model="new LinkToProfileViewModel(User.FindFirstValue(ClaimTypes.NameIdentifier), profileImageCode,User.Identity.Name,60)">
            </div>
        </li>
        <li class="nav-item">
            <div style="margin:20px ; width : 180px; height:40px">
                <a class="nav-link text-light btn btn-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
            </div>
        </li>
        <li class="nav-item">
            <div style="margin:20px ; width : 180px; height:40px">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link text-light btn btn-secondary">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li style="margin:20px" class="nav-item">
            <a class="nav-link text-light btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li style="margin:20px" class="nav-item">
            <a class="nav-link text-light btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
