@model SocialNetwork.Models.Users.Profile.PostUsersProfileViewModel

<div id="@(Model.PostId)detailedModalWindow" class="modal">
    <div class="modal-content">
        <span id="@(Model.PostId)close" class="close">&times;</span>
        <img width="400" src="@Model.Code" alt="@Model.Description" style="border : 5px solid" />
    </div>

</div>
