@using SocialNetwork.Models.Users.Search


<ul class="list-group">
    @foreach (UserSearchViewModel user in Model.Users)
    {
        <li class="list-group"><a class="btn-secondary" href="/Users/Profile/?userId=@user.Id">@user.Name</a></li>
    }
</ul>