@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome, @ViewData["username"]</h1>
    <br />
    <div>
        <h1><a class="btn btn-success col-8" href="Home/NewPost">Add new post to your page</a></h1>
    </div>
    @if (User.Identity.IsAuthenticated == true)
    {
        @foreach (var post in Model.Posts)
        {
            <div align="left" class="text-success">
                <h3>Author : @post.Username</h3>
                <h4>Description : @post.Description</h4>
                <img style="width: 800px ;border : 5px solid" src="@post.Code" />
                <br />
            </div>
        }
    }
    else
    {
        <h1><a href="/Identity/Account/Login">Login</a>, or <a href="/Identity/Account/Register">Register</a>, if you don't have an account</h1>
    }
</div>

