@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <div>
        <h1><a class="btn-primary col-8" href="Home/NewPost">Add new post to your page</a></h1>
    </div>
    @if (User.Identity.IsAuthenticated == true)
    {
        <h1>Hello, @ViewData["username"]</h1>
        @foreach(var post in Model.Posts)
        {
            <img width="300" height="300" src="@post.Code" />
            <br/>
        }
    }
    else
    {
        <h1><a href="/Identity/Account/Login">Login</a>, or <a href="/Identity/Account/Register">Register</a>, if you don't have an account</h1>
    }
</div>

