@{
    ViewData["Title"] = "Home Page";
}
@using SocialNetwork.Models.Home
@using Microsoft.AspNetCore.Identity
@using SocialNetwork.DatabaseModels

@inject SignInManager<SocialNetworkUser> SignInManager

@model NewsFeedHomeIndexViewModel

<div class="text-center">
    <h1 class="display-4 text-secondary">Welcome, @Model.Username</h1>
    <br />
    <div>
        <partial name="_LinkToNewPostPage" />
    </div>
    @if (SignInManager.IsSignedIn(this.User))
    {
        @foreach (var post in Model.Posts)
        {
            <partial name="_PostDetailsPartial" model="@post" />
        }
    }
    else
    {
        <h1>
            <a class="text-secondary" href="/Identity/Account/Login">Login</a>,
            or <a class="text-secondary" href="/Identity/Account/Register">Register</a>, if you don't have an account
        </h1>
    }
</div>

@section Scripts
{
    <script src="~/js/Home/index.js"></script>
}

@section Stylesheets
{
    <link href="~/css/Home/index.css" rel="stylesheet" />
}


