@model SocialNetwork.InputViewModels.Home.PostInputViewModel
   
 <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="NewPost">
        <div style="margin:10px">
            <div class="col-md-6">
                <label asp-for="Files"></label>
            </div>
            <div class="col-md-6 custom-file">
                <label class="custom-file-label">Please choose photo from your computer</label>
                <input class="form-control custom-file-input" asp-for="Files" multiple />
                <span class="text-danger" asp-validation-for="Files"></span>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <label asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>
        <hr />
        <div >
            <div class="col-md-6">
                <input class="form-control" type="submit" value="Upload" />
            </div>
        </div>
    </form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}